.wrapper {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  z-index: 20;
}

:global(.regionSelectAnimate-appear) .wrapper,
:global(.regionSelectAnimate-enter) .wrapper {
  opacity: 0;
  transform: translateY(-250px) translateX(-50%);
}

:global(.regionSelectAnimate-appear-active) .wrapper {
  opacity: 1;
  transform: translateY(0) translateX(-50%);
  transition: opacity var(--transition-duration) linear, transform var(--transition-duration) ease-out;
}

:global(.regionSelectAnimate-enter-active) .wrapper {
  opacity: 1;
  transform: translateY(0) translateX(-50%);
  transition: opacity var(--transition-duration) linear var(--transition-enter-delay),
    transform var(--transition-duration) ease-out var(--transition-enter-delay);
}

:global(.regionSelectAnimate-exit) .wrapper {
  opacity: 1;
  transform: translateY(0) translateX(-50%);
}

:global(.regionSelectAnimate-exit-active) .wrapper {
  opacity: 0;
  transform: translateY(-250px) translateX(-50%);
  transition: opacity var(--transition-duration) linear, transform var(--transition-duration) ease-out;
}

.select {
  /* TODO Style */
  --_ui5_input_wrapper_border_radius: 3px;
  --sapField_BorderColor: #fff;
  --sapField_Hover_BorderColor: #a95df1;
  --sapButton_Selected_Background: #a95df1;
  --_ui5_input_height: 24px;
  --_ui5_input_icon_padding: 3px 6px;
  /*color: var(--sapButton_Active_TextColor);*/
  /*--sapButton_Selected_Background: #fff;*/
  /*--sapButton_Active_TextColor: #b9c1c6;*/
}
